<div class="breadcrumb">
  <h1>Resolution Unit
  </h1>
  <ul>
    <li><a href="">Team Management</a></li>
    <li>Member Creation</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-lg-8 col-md-12">
    <h4>Add New Team Member</h4>
    <p>Enter the Union Bank username and email address of the new user.</p>
    <form [formGroup]="teamCreationForm" (ngSubmit)="submit(teamCreationForm)">
      <div class="card mb-5">
        <div class="card-body">
          <div class="row row-xs">
            <div class="col-md-4">
              <input type="text" autocomplete="username" formControlName="username" class="form-control" placeholder="Enter your username">
            </div>
            <div class="col-md-4 mt-3 mt-md-0">
              <input type="password" autocomplete="new-password" class="form-control" placeholder="Enter your password">
            </div>
            <div class="col-md-4 mt-3 mt-md-0">
              <button type="submit" class="btn btn-primary btn-block">Add User</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>