<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body" (click)="test()">

                <div class="card-title mb-3">ATM Dispense Error Form</div>

                <ng-container *ngIf="alert">
                    <ngb-alert [type]="alert.type" (close)="closeAlert(alerts)">
                        <strong class="text-capitalize">{{alert.type}}!</strong> {{alert.message}}
                    </ngb-alert>
                </ng-container>

                <form [formGroup]="atmDispenseErrorForm" (ngSubmit)="submit(atmDispenseErrorForm)">

                    <div class="row">

                        <ng-container *ngIf="formState else complaintsForm">

                            <div class="col-md-6 form-group mb-3">
                                <label for="firstName">First name</label>
                                <input formControlName="firstName" type="text" [ngClass]="{'error':atmDispenseErrorForm.controls.firstName.status === 'INVALID' 
                                    && errorSubmit === true || atmDispenseErrorForm.controls.firstName.status === 'INVALID' 
                                    && atmDispenseErrorForm.controls.firstName.touched}" class="form-control"
                                    id="firstName" placeholder="Enter your first name">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="lastName">Last name</label>
                                <input formControlName="lastName" type="text"
                                    [ngClass]="{'error':atmDispenseErrorForm.controls.lastName.status === 'INVALID' 
                                    && errorSubmit === true || atmDispenseErrorForm.controls.lastName.touched && atmDispenseErrorForm.controls.lastName.status === 'INVALID'}"
                                    class="form-control" id="lastName" placeholder="Enter your last name">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="exampleInputEmail1">Email address</label>
                                <input formControlName="emailAddress" type="email" [ngClass]="{'error':atmDispenseErrorForm.controls.emailAddress.status === 'INVALID' 
                                    && errorSubmit === true || atmDispenseErrorForm.controls.emailAddress.status === 'INVALID' 
                                    && atmDispenseErrorForm.controls.emailAddress.touched}" class="form-control"
                                    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                                <small
                                    *ngIf="atmDispenseErrorForm.controls.emailAddress.invalid  && atmDispenseErrorForm.controls.emailAddress.touched"
                                    id="errorMessage" class="form-text text-danger mt-2">Invalid email format</small>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="phone">Phone</label>
                                <input formControlName="phone"
                                    [ngClass]="{'error':atmDispenseErrorForm.controls.phone.status === 'INVALID' && errorSubmit === true 
                                    || atmDispenseErrorForm.controls.phone.status === 'INVALID' && atmDispenseErrorForm.controls.phone.touched}"
                                    class="form-control" id="phone" placeholder="Enter phone">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="credit">Card number: last 4 digits</label>
                                <!-- Mask the card number -->
                                <input formControlName="cardNumber" [ngClass]="{'error':atmDispenseErrorForm.controls.cardNumber.status === 'INVALID' 
                                    && errorSubmit === true || atmDispenseErrorForm.controls.cardNumber.status === 'INVALID' 
                                    && atmDispenseErrorForm.controls.cardNumber.touched}" class="form-control"
                                    id="credit" placeholder="Card number">
                                <small
                                    *ngIf="atmDispenseErrorForm.controls.cardNumber.invalid && atmDispenseErrorForm.controls.cardNumber.touched"
                                    id="errorMessage" class="form-text text-danger mt-2">
                                    Error: Maximum length is 4, Ensure you enter only numbers.
                                </small>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="credit">Account number</label>
                                <input formControlName="acctNumber" maxlength="10"
                                    [ngClass]="{'error':atmDispenseErrorForm.controls.acctNumber.status === 'INVALID' && errorSubmit === true 
                                    || atmDispenseErrorForm.controls.acctNumber.status === 'INVALID' && atmDispenseErrorForm.controls.acctNumber.touched}"
                                    class="form-control" id="" placeholder="Account number">
                                    <small class="form-text text-muted">Only Union Bank account numbers are required.</small>
                                <small
                                    *ngIf="atmDispenseErrorForm.controls.acctNumber.invalid && atmDispenseErrorForm.controls.acctNumber.touched"
                                    id="errorMessage" class="form-text text-danger">Error, Enter only ten numeric digits
                                    required.</small>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="credit">Card Variant</label>
                                <select formControlName="cardVariant" [ngClass]="{'error':atmDispenseErrorForm.controls.cardVariant.status === 'INVALID' 
                                    && errorSubmit === true || atmDispenseErrorForm.controls.cardVariant.status === 'INVALID' 
                                    && atmDispenseErrorForm.controls.cardVariant.touched}" class="form-control">
                                    <option [value]="" disabled selected>Select card variant</option>
                                    <option *ngFor="let card of card_Variants" [value]='card?.id'>{{card?.name}}
                                    </option>
                                </select>
                                <small id="" *ngIf="atmDispenseErrorForm.controls.cardVariant.status === 'INVALID' 
                                && errorSubmit === true" class="form-text text-danger">Please select a card
                                    variant.</small>
                            </div>

                            <div class="col-md-12">
                                <button type="button" Class="btn btn-primary btn-rounded m-1"
                                    (click)="toggleNavigation = false; open(formModal)">Continue</button>
                            </div>

                        </ng-container>

                        <ng-template #complaintsForm>
                            <!-- Componentize? -->
                            <div class="col-md-6 form-group mb-3">
                                <label for="picker1">ATM Dispense Error Category</label>
                                <select formControlName="errorCategory" [ngClass]="{'error':atmDispenseErrorForm.controls.errorCategory.status === 'INVALID' 
                                    && errorSubmit === true || atmDispenseErrorForm.controls.errorCategory.status === 'INVALID' 
                                    && atmDispenseErrorForm.controls.errorCategory.touched}" class="form-control"
                                    (change)="fetchErrorType()">
                                    <option disabled selected> Please select one option </option>
                                    <option *ngFor="let i of complaintCategoryHolder" [ngValue]='i'>
                                        {{ i?.category | titlecase }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="picker1">ATM Dispense Complaint Type:</label>
                                <select formControlName="errorType" [ngClass]="{'error':atmDispenseErrorForm.controls.errorType.status === 'INVALID' 
                                    && errorSubmit === true || atmDispenseErrorForm.controls.errorType.status === 'INVALID' 
                                    && atmDispenseErrorForm.controls.errorType.touched}" class="form-control">
                                    <option disabled selected> Please select an error type </option>
                                    <option *ngFor="let i of ComplaintTypes" [ngValue]='i'>{{i?.name}}</option>
                                </select>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="picker1">Transaction Date</label>
                                <div class="input-group">
                                    <input formControlName="transDate" readonly id="picker1"
                                        [ngClass]="{'error':atmDispenseErrorForm.controls.transDate.status === 'INVALID' && errorSubmit === true || atmDispenseErrorForm.controls.transDate.status === 'INVALID' && atmDispenseErrorForm.controls.transDate.touched}"
                                        class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                        #dp="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" (click)="dp.toggle()" type="button">
                                            <i class="icon-regular i-Calendar-4"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="picker1">Single or Multiple Transactions:</label>
                                <select formControlName="transCount" class="form-control">
                                    <option *ngFor="let i of transCount" [ngValue]='i'>{{i?.name}}</option>
                                </select>
                            </div>

                            <ng-container *ngIf="(selectedTransCount == 1 || selectedTransCount == 2)"
                                formGroupName="amount">

                                <div class="col-md-6 form-group mb-3">
                                    <label for="credit">Amount</label>
                                    <input type="number" formControlName="amount1" class="form-control" id="credit"
                                        placeholder="Transaction Amount">
                                </div>

                                <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                    <label for="credit">Amount 2</label>
                                    <input type="number" formControlName="amount2" class="form-control" id="credit"
                                        placeholder="Transaction Amount">
                                </div>

                                <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                    <label for="credit">Amount 3</label>
                                    <input type="number" formControlName="amount3" class="form-control" id="credit"
                                        placeholder="Transaction Amount">
                                </div>

                            </ng-container>

                            <div class="col-md-6 form-group mb-3"
                                *ngIf="(selectedTransCount == 1 || selectedTransCount == 2)">
                                <label for="picker1">Currency Type</label>
                                <select formControlName="currencyType" [ngClass]="{'error':atmDispenseErrorForm.controls.currencyType.status === 'INVALID' && errorSubmit === true 
                                    || atmDispenseErrorForm.controls.currencyType.status === 'INVALID' 
                                    && atmDispenseErrorForm.controls.currencyType.touched}" class="form-control">
                                    <option [value]="" disabled selected>Select currency</option>
                                    <option *ngFor="let currency of currencyType" [value]='currency?.id'>
                                        {{currency?.name}}</option>
                                </select>
                                <small id=""
                                    *ngIf="atmDispenseErrorForm.controls.currencyType.status === 'INVALID' && errorSubmit === true"
                                    class="form-text text-muted">Please select a currency type
                                    Bank.</small>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="picker1">ATM used:</label>
                                <select formControlName="atmUsed" class="form-control">
                                    <option *ngFor="let i of ATM_used" [ngValue]='i'>{{i?.name}}</option>
                                </select>
                            </div>

                            <div *ngIf="selected_ATM == 1" class="col-md-6 form-group mb-3">
                                <label for="picker1">Location:</label>
                                <select formControlName="unionatmId" class="form-control">
                                    <option *ngFor="let i of ATM_location" [ngValue]='i'>{{i?.location | titlecase}}
                                    </option>
                                </select>
                            </div>

                            <div *ngIf="selected_ATM == 2" class="col-md-6 form-group mb-3">
                                <label for="picker1">Bank used:</label>
                                <select formControlName="bankused" class="form-control">
                                    <option *ngFor="let i of Bank_used" [ngValue]='i'>{{i?.bankName}}</option>
                                </select>
                                <small id="emailHelp" class="form-text text-muted">ATM used: Union Bank or Other
                                    Bank.</small>
                            </div>

                            <div class="col-md-12 form-group mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Please describe the issue encountered:</span>
                                    </div>
                                    <textarea formControlName="complaintDescription" class="form-control"
                                        aria-label="With textarea">
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-md-12 form-group mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">What would you like us to do?</span>
                                    </div>
                                    <textarea formControlName="suggestionBox" class="form-control"
                                        aria-label="With textarea">
                                </textarea>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">
                                    Submit</btn-loading>
                                <button type="button" Class="btn btn-secondary btn-rounded m-1"
                                    (click)="toggleNavigation = true">Previous</button>
                            </div>

                        </ng-template>
                        <!-- Token Modal -->
                        <ng-template #formModal let-modal>
                            <div class="modal-body">
                                <div class="card card-ecommerce-3 o-hidden">
                                    <div class="d-flex">
                                        <div class="">
                                            <img class="card-img-left" src="./assets/images/unionsplash.jpeg" alt="">
                                        </div>
                                        <div class="flex-grow-1 p-4">
                                            <h5 class="m-0 font-weight-bold text-muted">Generated ticket Id</h5>
                                            <p class="m-0 text-small text-muted">Customer name:
                                                {{formatName | titlecase}}</p>
                                            <p class="m-0">Ticket Id: {{ticketID}}</p>
                                            <p class="text-muted mt-3">An email has been sent to {{email}}
                                            </p>
                                            <div class="actions">
                                                <button (click)="modal.close('Save click')"
                                                    class="btn btn-sm rounded-circle btn-icon btn-outline-primary">
                                                    <i class="icon i-Close-Window"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer modal-footer-custom">
                                <button type="button" class="btn btn-outline-success btn-rounded"
                                    (click)="modal.close('Save click')">Okay</button>
                            </div>

                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>