<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body" (click)="test()">
                <div class="card-title mb-3">E-Channels Complaint Form</div>

                <ng-container *ngIf="alert">
                    <ngb-alert [type]="alert.type" (close)="closeAlert(alerts)">
                        <strong class="text-capitalize">{{alert.type}}!</strong> {{alert.message}}
                    </ngb-alert>
                </ng-container>

                <form [formGroup]="eChannelsForm" (ngSubmit)="submit(eChannelsForm)">
                    <div class="row">

                        <ng-container *ngIf="personalDetails else complaintsForm">
                            <div class="col-md-6 form-group mb-3">
                                <label for="firstName">First name</label>
                                <input type="text" formControlName="firstName" class="form-control" id="firstName"
                                    placeholder="Enter your first name">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="lastName">Last name</label>
                                <input formControlName="lastName" type="text" class="form-control" id="lastName"
                                    placeholder="Enter your last name">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="exampleInputEmail1">Email address</label>
                                <input formControlName="emailAddress" type="email" class="form-control"
                                    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="phone">Phone</label>
                                <input formControlName="phone" class="form-control" id="phone"
                                    placeholder="Enter phone">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="phone">Alternate Phone number</label>
                                <input formControlName="altphone" class="form-control" id="phone"
                                    placeholder="Enter phone">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="credit">Card number: last 4 digits</label>
                                <input formControlName="cardNumber" class="form-control" id="" placeholder="Card">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="credit">Account number</label>
                                <input formControlName="acctNumber" class="form-control" id=""
                                    placeholder="Account number">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="picker1">E-Channel</label>
                                <select formControlName="eMedium" class="form-control">
                                    <option *ngFor="let i of eChannelMedium" [ngValue]='i'>{{i?.name}}</option>
                                </select>
                            </div>

                            <div class="col-md-12">
                                <button type="button" [disabled]="!eChannelsForm.controls.eMedium.valid"
                                    Class="btn btn-primary btn-rounded m-1"
                                    (click)="toggleNavigation = false; open(formModal)">Continue</button>
                            </div>

                        </ng-container>

                        <ng-template #complaintsForm>

                            <ng-container [ngSwitch]="selectServiceType">

                                <!-- If Medium is: Union Mobile -->
                                <ng-container *ngSwitchCase="1">

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Service Type</label>
                                        <select formControlName="eChannels" class="form-control">
                                            <option *ngFor="let i of serviceType" [ngValue]='i'>{{i?.name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Service Provider:</label>
                                        <select formControlName="serviceProvider" class="form-control">
                                            <option *ngFor="let i of serviceList" [ngValue]='i'>{{i?.serviceProvider}}
                                            </option>
                                        </select>
                                    </div>

                                    <!-- Under Union, If service type is Airtime top up -->
                                    <ng-container *ngIf="(innerType == 1)">
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Currency Type</label>
                                            <select formControlName="currencyType" class="form-control">
                                                <option [value]="" disabled selected>Select currency</option>
                                                <option *ngFor="let currency of currencyType" [value]='currency?.id'>
                                                    {{currency?.name}}</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Single or Multiple Transactions:</label>
                                            <select formControlName="transCount" class="form-control">
                                                <option *ngFor="let i of transCount" [ngValue]='i'>{{i?.name}}</option>
                                            </select>
                                        </div>

                                        <ng-container *ngIf="(selectedTransCount == 1 || selectedTransCount == 2)"
                                            formGroupName="amount">

                                            <div class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount</label>
                                                <input formControlName="amount1" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                            <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount 2</label>
                                                <input formControlName="amount2" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                            <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount 3</label>
                                                <input formControlName="amount3" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                        </ng-container>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Transaction Date</label>
                                            <div class="input-group">
                                                <input formControlName="transDate" id="picker1" class="form-control"
                                                    placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                                    #dp="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" (click)="dp.toggle()"
                                                        type="button">
                                                        <i class="icon-regular i-Calendar-4"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 form-group mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Complaint Description</span>
                                                </div>
                                                <textarea formControlName="complaintDescription" class="form-control"
                                                    aria-label="With textarea">
                                                </textarea>
                                            </div>
                                        </div>

                                    </ng-container>

                                    <!-- If Bills Payment -->
                                    <ng-container *ngIf="(innerType == 2)">

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Billers Category</label>
                                            <select formControlName="billType" class="form-control">
                                                <option *ngFor="let i of billTypes" [value]='i?.id'>{{i?.name}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="phone">ReferenceID</label>
                                            <input formControlName="referenceID" class="form-control" id="referenceid"
                                                placeholder="Reference ID">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="phone">Smart Card Number</label>
                                            <input formControlName="smartCardNumber" class="form-control"
                                                id="smartcardnumber" placeholder="Smart Card Number">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Currency Type</label>
                                            <select formControlName="currencyType" class="form-control">
                                                <option [value]="" disabled selected>Select currency</option>
                                                <option *ngFor="let currency of currencyType" [value]='currency?.id'>
                                                    {{currency?.name}}</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Single or Multiple Transactions:</label>
                                            <select formControlName="transCount" class="form-control">
                                                <option *ngFor="let i of transCount" [ngValue]='i'>{{i?.name}}</option>
                                            </select>
                                        </div>

                                        <ng-container *ngIf="(selectedTransCount == 1 || selectedTransCount == 2)"
                                            formGroupName="amount">

                                            <div class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount</label>
                                                <input formControlName="amount1" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                            <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount 2</label>
                                                <input formControlName="amount2" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                            <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount 3</label>
                                                <input formControlName="amount3" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                        </ng-container>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Transaction Date</label>
                                            <div class="input-group">
                                                <input formControlName="transDate" id="picker1" class="form-control"
                                                    placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                                    #dp="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" (click)="dp.toggle()"
                                                        type="button">
                                                        <i class="icon-regular i-Calendar-4"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 form-group mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Complaint Description</span>
                                                </div>
                                                <textarea formControlName="complaintDescription" class="form-control"
                                                    aria-label="With textarea">
                                                </textarea>
                                            </div>
                                        </div>

                                    </ng-container>

                                    <!-- If Transfer -->
                                    <ng-container *ngIf="(innerType == 3)">

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="phone">Union Mobile number</label>
                                            <input formControlName="unionMobilePhone" class="form-control" id="phone"
                                                placeholder="Union mobile ID">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="phone">Recipients Account number</label>
                                            <input formControlName="recipientsAcctNo" class="form-control"
                                                id="smartcardnumber" placeholder="Recipients phone number">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="firstName">Recipients name</label>
                                            <input formControlName="recipientsName" type="text" class="form-control"
                                                id="firstName" placeholder="Enter recipients name">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Currency Type</label>
                                            <select formControlName="currencyType" class="form-control">
                                                <option [value]="" disabled selected>Select currency</option>
                                                <option *ngFor="let currency of currencyType" [value]='currency?.id'>
                                                    {{currency?.name}}</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Single or Multiple Transactions:</label>
                                            <select formControlName="transCount" class="form-control">
                                                <option *ngFor="let i of transCount" [ngValue]='i'>{{i?.name}}</option>
                                            </select>
                                        </div>

                                        <ng-container *ngIf="(selectedTransCount == 1 || selectedTransCount == 2)"
                                            formGroupName="amount">

                                            <div class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount</label>
                                                <input formControlName="amount1" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                            <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount 2</label>
                                                <input formControlName="amount2" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                            <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount 3</label>
                                                <input formControlName="amount3" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                        </ng-container>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Transaction Date</label>
                                            <div class="input-group">
                                                <input formControlName="transDate" id="picker1" class="form-control"
                                                    placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                                    #dp="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" (click)="dp.toggle()"
                                                        type="button">
                                                        <i class="icon-regular i-Calendar-4"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 form-group mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Complaint Description</span>
                                                </div>
                                                <textarea formControlName="complaintDescription" class="form-control"
                                                    aria-label="With textarea">
                                                </textarea>
                                            </div>
                                        </div>

                                    </ng-container>

                                </ng-container>

                                <!-- Medium is: Online Banking -->
                                <ng-container *ngSwitchCase="2">
                                </ng-container>


                                <!-- Medium is: POS/Web -->
                                <ng-container *ngSwitchCase="3">

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Where did you use your card?</label>
                                        <select formControlName="whereCardUsed" class="form-control">
                                            <option *ngFor="let i of POS_Web" [ngValue]='i'>{{i.name}}</option>
                                        </select>
                                    </div>

                                    <div *ngIf="card_was_Used == 1" class="col-md-6 form-group mb-3">
                                        <label for="firstName">POS Merchant name</label>
                                        <input formControlName="posMerchantName" type="text" class="form-control"
                                            id="firstName" placeholder="Enter merchant name e.g xyz business limited">
                                    </div>

                                    <div *ngIf="card_was_Used == 2" class="col-md-6 form-group mb-3">
                                        <label for="firstName">Website where card was used?</label>
                                        <input formControlName="websiteURL" type="text" class="form-control"
                                            id="firstName" placeholder="Enter Website URL e.g www.xyz.com">
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="credit">Card Variant</label>
                                        <select formControlName="cardVariant" class="form-control">
                                            <option [value]="" disabled selected>Select card variant</option>
                                            <option *ngFor="let card of card_Variants" [value]='card?.id'>{{card?.name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="credit">Card number: last 4 digits</label>
                                        <input formControlName="cardNumber" class="form-control" id=""
                                            placeholder="Card">
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Currency Type</label>
                                        <select formControlName="currencyType" class="form-control">
                                            <option [value]="" disabled selected>Select currency</option>
                                            <option *ngFor="let currency of currencyType" [value]='currency?.id'>
                                                {{currency?.name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Single or Multiple Transactions:</label>
                                        <select formControlName="transCount" class="form-control">
                                            <option *ngFor="let i of transCount" [ngValue]='i'>{{i?.name}}</option>
                                        </select>
                                    </div>

                                    <ng-container *ngIf="(selectedTransCount == 1 || selectedTransCount == 2)"
                                        formGroupName="amount">
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="credit">Amount</label>
                                            <input formControlName="amount1" class="form-control" id=""
                                                placeholder="Transaction Amount">
                                        </div>

                                        <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                            <label for="credit">Amount 2</label>
                                            <input formControlName="amount2" class="form-control" id=""
                                                placeholder="Transaction Amount">
                                        </div>

                                        <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                            <label for="credit">Amount 3</label>
                                            <input formControlName="amount3" class="form-control" id=""
                                                placeholder="Transaction Amount">
                                        </div>

                                    </ng-container>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Transaction Date</label>
                                        <div class="input-group">
                                            <input formControlName="transDate" id="picker1" class="form-control"
                                                placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" (click)="dp.toggle()" type="button">
                                                    <i class="icon-regular i-Calendar-4"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 form-group mb-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Complaint Description</span>
                                            </div>
                                            <textarea formControlName="complaintDescription" class="form-control"
                                                aria-label="With textarea">
                                            </textarea>
                                        </div>
                                    </div>

                                </ng-container>

                                <!-- Medium is: USSD -->
                                <ng-container *ngSwitchCase="4">
                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Service Type</label>
                                        <select formControlName="eChannels" class="form-control">
                                            <option *ngFor="let i of ussdServiceType" [ngValue]='i'>{{i?.name}}</option>
                                        </select>
                                    </div>
                                    <!-- If under USSD: Airtime Top Up -->
                                    <ng-container *ngIf="ussd_ServiceType == 4">
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="phone">USSD registed phone</label>
                                            <input formControlName="ussdPhoneNo" class="form-control" id="phone"
                                                placeholder="Enter registered phone number">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="phone">Airtime Beneficiary number</label>
                                            <input formControlName="beneficiaryPhoneNo" class="form-control" id="phone"
                                                placeholder="Enter phone number">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Airtime billers</label>
                                            <select formControlName="billType" class="form-control">
                                                <option *ngFor="let i of billTypes" [ngValue]='i'>{{i?.name}}</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Single or Multiple Transactions:</label>
                                            <select formControlName="transCount" class="form-control">
                                                <option *ngFor="let i of transCount" [ngValue]='i'>{{i?.name}}</option>
                                            </select>
                                        </div>

                                        <ng-container *ngIf="(selectedTransCount == 1 || selectedTransCount == 2)"
                                            formGroupName="amount">

                                            <div class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount</label>
                                                <input formControlName="amount1" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                            <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount 2</label>
                                                <input formControlName="amount2" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                            <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount 3</label>
                                                <input formControlName="amount3" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                        </ng-container>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Transaction Date</label>
                                            <div class="input-group">
                                                <input formControlName="transDate" id="picker1" class="form-control"
                                                    placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                                    #dp="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" (click)="dp.toggle()"
                                                        type="button">
                                                        <i class="icon-regular i-Calendar-4"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 form-group mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Complaint Description</span>
                                                </div>
                                                <textarea formControlName="complaintDescription" class="form-control"
                                                    aria-label="With textarea">
                                                </textarea>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <!-- If under USSD: Transfer -->
                                    <ng-container *ngIf="ussd_ServiceType == 5">

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="phone">Union Mobile number</label>
                                            <input formControlName="unionMobilePhone" class="form-control" id="phone"
                                                placeholder="Union mobile ID">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="phone">Recipients Account number</label>
                                            <input formControlName="recipientsAcctNo" class="form-control"
                                                id="smartcardnumber" placeholder="Recipients phone number">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="firstName">Recipients name</label>
                                            <input formControlName="recipientsName" type="text" class="form-control"
                                                id="firstName" placeholder="Enter recipients name">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Currency Type</label>
                                            <select formControlName="currencyType" class="form-control">
                                                <option [value]="" disabled selected>Select currency</option>
                                                <option *ngFor="let currency of currencyType" [value]='currency?.id'>
                                                    {{currency?.name}}</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Single or Multiple Transactions:</label>
                                            <select formControlName="transCount" class="form-control">
                                                <option *ngFor="let i of transCount" [ngValue]='i'>{{i?.name}}</option>
                                            </select>
                                        </div>

                                        <ng-container *ngIf="(selectedTransCount == 1 || selectedTransCount == 2)"
                                            formGroupName="amount">

                                            <div class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount</label>
                                                <input formControlName="amount1" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                            <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount 2</label>
                                                <input formControlName="amount2" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                            <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                                <label for="credit">Amount 3</label>
                                                <input formControlName="amount3" class="form-control" id=""
                                                    placeholder="Transaction Amount">
                                            </div>

                                        </ng-container>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Transaction Date</label>
                                            <div class="input-group">
                                                <input formControlName="transDate" id="picker1" class="form-control"
                                                    placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                                    #dp="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" (click)="dp.toggle()"
                                                        type="button">
                                                        <i class="icon-regular i-Calendar-4"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 form-group mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Complaint Description</span>
                                                </div>
                                                <textarea formControlName="complaintDescription" class="form-control"
                                                    aria-label="With textarea">
                                                </textarea>
                                            </div>
                                        </div>

                                    </ng-container>

                                    <!-- If under USSD: Usage Issues -->
                                    <ng-container *ngIf="ussd_ServiceType == 6">

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="phone">USSD registed phone</label>
                                            <input formControlName="ussdPhoneNo" class="form-control" id="phone"
                                                placeholder="Enter registered phone number">
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker1">Transaction Date</label>
                                            <div class="input-group">
                                                <input formControlName="transDate" id="picker1" class="form-control"
                                                    placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                                    #dp="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" (click)="dp.toggle()"
                                                        type="button">
                                                        <i class="icon-regular i-Calendar-4"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 form-group mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Complaint Description</span>
                                                </div>
                                                <textarea formControlName="complaintDescription" class="form-control"
                                                    aria-label="With textarea">
                                                </textarea>
                                            </div>
                                        </div>

                                    </ng-container>


                                </ng-container>
                                <!-- Medium is: Mcash -->
                                <ng-container *ngSwitchCase="5">

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="firstName">POS Merchant name</label>
                                        <input formControlName="posMerchantName" type="text" class="form-control"
                                            id="firstName" placeholder="Enter merchant name e.g xyz business limited">
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="phone">POS Merchant code</label>
                                        <input formControlName="merchantCode" class="form-control" id="merchantCode"
                                            placeholder="Enter Merchant code">
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="phone">USSD registed phone</label>
                                        <input formControlName="ussdPhoneNo" class="form-control" id="phone"
                                            placeholder="Enter registered phone number">
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Currency Type</label>
                                        <select formControlName="currencyType" class="form-control">
                                            <option [value]="" disabled selected>Select currency</option>
                                            <option *ngFor="let currency of currencyType" [value]='currency?.id'>
                                                {{currency?.name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Single or Multiple Transactions:</label>
                                        <select formControlName="transCount" class="form-control">
                                            <option *ngFor="let i of transCount" [ngValue]='i'>{{i?.name}}</option>
                                        </select>
                                    </div>

                                    <ng-container *ngIf="(selectedTransCount == 1 || selectedTransCount == 2)"
                                        formGroupName="amount">

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="credit">Amount</label>
                                            <input formControlName="amount1" class="form-control" id=""
                                                placeholder="Transaction Amount">
                                        </div>

                                        <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                            <label for="credit">Amount 2</label>
                                            <input formControlName="amount2" class="form-control" id=""
                                                placeholder="Transaction Amount">
                                        </div>

                                        <div *ngIf="selectedTransCount == 2" class="col-md-6 form-group mb-3">
                                            <label for="credit">Amount 3</label>
                                            <input formControlName="amount3" class="form-control" id=""
                                                placeholder="Transaction Amount">
                                        </div>

                                    </ng-container>

                                    <div class="col-md-6 form-group mb-3">
                                        <label for="picker1">Transaction Date</label>
                                        <div class="input-group">
                                            <input formControlName="transDate" id="picker1" class="form-control"
                                                placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" (click)="dp.toggle()" type="button">
                                                    <i class="icon-regular i-Calendar-4"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 form-group mb-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Complaint Description</span>
                                            </div>
                                            <textarea formControlName="complaintDescription" class="form-control"
                                                aria-label="With textarea">
                                            </textarea>
                                        </div>
                                    </div>

                                </ng-container>

                            </ng-container>

                            <div class="col-md-12">
                                <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Submit</btn-loading>
                                <button type="button" Class="btn btn-secondary btn-rounded m-1"
                                    (click)="toggleNavigation = true">Previous</button>
                            </div>
                        </ng-template>
                        <!-- Token Modal -->
                        <ng-template #formModal let-modal>
                            <div class="modal-body">
                                <div class="card card-ecommerce-3 o-hidden">
                                    <div class="d-flex">
                                        <div class="">
                                            <img class="card-img-left" src="./assets/images/unionsplash.jpeg" alt="">
                                        </div>
                                        <div class="flex-grow-1 p-4">
                                            <h5 class="m-0 font-weight-bold text-muted">Generated ticket Id</h5>
                                            <p class="m-0 text-small text-muted">Customer name:
                                                {{formatName | titlecase}}</p>
                                            <p class="m-0">Ticket Id: {{ticketID}}</p>
                                            <p class="text-muted mt-3">An email has been sent to {{email}}
                                            </p>
                                            <div class="actions">
                                                <button (click)="modal.close('Save click')"
                                                    class="btn btn-sm rounded-circle btn-icon btn-outline-primary">
                                                    <i class="icon i-Close-Window"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer modal-footer-custom">
                                <button type="button" class="btn btn-outline-success btn-rounded"
                                    (click)="modal.close('Save click')">Okay</button>
                            </div>

                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>