.sidebar-left {
    background-color: #00aeef !important;
}
.nav-item--custom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}
.text-custom {
    color: white !important;
}
#horsey-logo {
    height: auto !important;
}