.inbox-details--custom {
    padding: 1.5rem 0.50rem !important;
    background-color: #00aeefa3 !important;
    color: white !important;

    p {
        color: white !important;
    }
}

.nav-center-custom {
    background-color: white;
    color: #00aeefa3 !important;
    min-height: 250px !important;
}

.card-body-custom {
    padding: 0rem !important;
}

.text-box-inbox {
    color: darkslategray !important;
}