<div>
  <!-- MAIN SIDEBAR CONTAINER -->
  <div appSidebarContainer class="inbox-main-sidebar-container">
    <div appSidebarContent class="inbox-main-content">
      <!-- SECONDARY SIDEBAR CONTAINER -->
      <div appSidebarContainer class="inbox-secondary-sidebar-container box-shadow-1">
        <div appSidebarContent>
          <div class="inbox-secondary-sidebar-content position-relative" style="min-height: 500px">
            <!-- <div class="inbox-topbar box-shadow-1 pl-3" [perfectScrollbar]="{suppressScrollY: true}">
              <a appSidebarToggler="inbox-main-sidebar" class="link-icon d-md-none">
                <i class="icon-regular i-Arrow-Turn-Left"></i>
              </a>
              <a appSidebarToggler="inbox-secondary-sidebar" class="link-icon mr-3 d-md-none">
                <i class="icon-regular mr-1 i-Left-3"></i>
                Inbox
              </a>

              <div class="d-flex" *ngIf="selected">
                <a href="javascript:;" class="link-icon mr-3"><i class="icon-regular i-Mail-Reply"></i> Reply</a>
                <a href="javascript:;" class="link-icon mr-3"><i class="icon-regular i-Mail-Reply-All"></i> Forward</a>
                <a href="javascript:;" class="link-icon mr-3"><i class="icon-regular i-Mail-Reply-All"></i> Delete</a>
              </div>
            </div> -->
            <!-- EMAIL DETAILS -->
            <div class="inbox-details inbox-details--custom" *ngIf="selected"
              [perfectScrollbar]="{suppressScrollX: true}">
              <div class="row no-gutters">
                <div class="mr-2" style="width: 36px">
                  <img class="rounded-circle" src="./assets/images/faces/user1.svg" alt="">
                </div>
                <div class="col-xs-12" (click)="test()">
                  <p class="m-0">{{selected?.firstName | titlecase}} {{selected?.lastName | titlecase}}</p>
                  <p class="text-10 text-muted mb-0"><i class="icon-small i-User"></i>Nuban:
                    {{selected?.accountNumber}}</p>
                  <p class="text-10 text-muted mb-0"><i class="icon-small i-Calendar-4"></i>
                    {{selected?.created_On}}
                  </p>
                  <p class="text-10 text-muted mb-0"><i class="icon-small i-Email"></i>
                    {{selected?.email}}</p>
                  <p class="text-10 text-muted"><i class="icon-small i-Telephone"></i>
                    {{selected?.phoneNumber}}</p>
                </div>
              </div>

              <h4 class="mb-3">{{selected?.subject}}</h4>
              <div>
              </div>
              <div class="card card-custom mb-4">
                <ngb-tabset class="nav-center nav-center-custom">
                  <ngb-tab title="Comments">
                    <ng-template ngbTabContent>
                      <div class="text-box-inbox" *ngIf="comment" [innerHTML]="comment"></div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Complaint details">
                    <ng-template ngbTabContent>
                      <div class="card-body card-body-custom">
                        <div class="card-title mb-3">
                          <span>Customer Complaint</span>
                          {{ selected?.channelType?.channelType | titlecase}}
                        </div>
                        <form>
                          <div class="row">
                            <div class="col-md-6 form-group mb-3">
                              <label for="firstName">First name</label>
                              <input type="text" disabled class="form-control form-control-rounded" id="firstName"
                                placeholder="Customer first name" value="{{selected?.firstName | titlecase}}">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                              <label for="lastName">Last name</label>
                              <input type="text" disabled class="form-control form-control-rounded" id="lastName"
                                placeholder="Customer last name" value="{{selected?.lastName | titlecase}}">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                              <label for="exampleInputEmail1">Email address</label>
                              <div class="input-group">
                                <input type="email" disabled class="form-control form-control-rounded"
                                  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Customer email"
                                  value="{{selected?.email}}">
                              </div>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                              <label for="phone">Phone</label>
                              <input disabled class="form-control form-control-rounded" id="phone"
                                placeholder="Customer phone" value="{{selected?.phoneNumber}}">
                            </div>

                            <div *ngIf="selected?.alternateno" class="col-md-6 form-group mb-3">
                              <label for="phone">Alternate Phone number</label>
                              <input disabled class="form-control form-control-rounded" id="phone"
                                placeholder="Customer phone" value="{{selected?.alternateno}}">
                            </div>

                            <div *ngIf="selected?.lastFourDigits" class="col-md-6 form-group mb-3">
                              <label for="credit">Card number: last four digits</label>
                              <input disabled class="form-control form-control-rounded" id="credit" placeholder="Card"
                                value="{{selected?.lastFourDigits}}">
                            </div>

                            <div *ngIf="selected?.recipientAccountNo" class="col-md-6 form-group mb-3">
                              <label for="credit">Account number</label>
                              <input disabled class="form-control form-control-rounded" id=""
                                placeholder="Account number" value="{{selected?.recipientAccountNo}}">
                            </div>

                            <div *ngIf="selected?.isCustomer" class="col-md-6 form-group mb-3">
                              <label for="picker1">Are you a Union Bank customer?</label>
                              <input disabled class="form-control form-control-rounded" id=""
                                placeholder="Is Union Bank Customer?" value="{{selected?.isCustomer}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.disappointedService">
                              <label for="picker1">Which of our services dissapointed you?</label>
                              <input disabled class="form-control form-control-rounded" id=""
                                placeholder="Which of our services dissapointed you?"
                                value="{{selected?.disappointedService}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.branchIncident">
                              <label for="picker1">Was it a Branch indident</label>
                              <input disabled class="form-control form-control-rounded" id=""
                                placeholder="Branch of incident" value="{{selected?.branchIncident}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.eChannelMedium">
                              <label for="picker1">E-Channel</label>
                              <input disabled class="form-control form-control-rounded" id="" placeholder="-Channel"
                                value="{{selected?.eChannelMedium}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.cardVariant">
                              <label for="picker1">Card Variant</label>
                              <input disabled class="form-control form-control-rounded" id="" placeholder="-Channel"
                                value="{{selected?.cardVariant}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.cardComplaintType">
                              <label for="credit">Card Complaint Type</label>
                              <input disabled class="form-control form-control-rounded" id="credit"
                                placeholder="Card Complaint Type" value="{{selected?.cardComplaintType}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.posMerchantName">
                              <label for="firstName">POS Merchant name</label>
                              <input type="text" disabled class="form-control form-control-rounded" id="firstName"
                                placeholder="Customer merchant name e.g xyz business limited"
                                value="{{selected?.posMerchantName}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.merchantCode">
                              <label for="phone">POS Merchant code</label>
                              <input disabled class="form-control form-control-rounded" id="merchantCode"
                                placeholder="Customer Merchant code" value="{{selected?.merchantCode}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.websiteUsed">
                              <label for="firstName">Website where card was used</label>
                              <input type="text" disabled class="form-control form-control-rounded" id="firstName"
                                placeholder="Customer Website URL e.g www.xyz.com" value="{{selected?.websiteUsed}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.atmUsed">
                              <label for="picker1">ATM used</label>
                              <div class="input-group">
                                <input id="picker1" disabled class="form-control form-control-rounded"
                                  placeholder="ATM used" value="{{selected?.atmUsed}}">
                              </div>
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.bankName">
                              <label for="credit">Bank Used</label>
                              <input disabled class="form-control form-control-rounded" id="credit"
                                placeholder="Bank Used" value="{{selected?.bankName}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.unionATMList">
                              <label for="credit">Location</label>
                              <input disabled class="form-control form-control-rounded" id="credit"
                                placeholder="Location" value="{{selected?.unionATMList}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.serviceType">
                              <label for="credit">Service Type</label>
                              <input disabled class="form-control form-control-rounded" id="credit"
                                placeholder="Service Type" value="{{selected?.serviceType}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.serviceProvider">
                              <label for="credit">Service Provider</label>
                              <input disabled class="form-control form-control-rounded" id="credit"
                                placeholder="Service Provider Used" value="{{selected?.serviceProvider}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.ussdPhoneNo">
                              <label for="phone">USSD registed phone</label>
                              <input disabled class="form-control form-control-rounded" id="phone"
                                placeholder="Customer registered phone number" value="{{selected?.ussdPhoneNo}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.beneficiaryPhoneNo">
                              <label for="phone">Airtime Beneficiary number</label>
                              <input disabled class="form-control form-control-rounded" id="phone"
                                placeholder="phone number" value="{{selected?.beneficiaryPhoneNo}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.unionMobile">
                              <label for="phone">Union Mobile number</label>
                              <input disabled class="form-control form-control-rounded" id="phone"
                                placeholder="Union mobile ID" value="{{selected?.unionMobile}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.recipientAccountNo">
                              <label for="phone">Recipients Account number</label>
                              <input disabled class="form-control form-control-rounded" id="smartcardnumber"
                                placeholder="Recipients phone number" value="{{selected?.recipientAccountNo}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.recipientName">
                              <label for="firstName">Recipients name</label>
                              <input type="text" disabled class="form-control form-control-rounded" id="firstName"
                                placeholder="Customer recipients name" value="{{selected?.recipientName}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.currencyType">
                              <label for="credit">Currency Type</label>
                              <input disabled class="form-control form-control-rounded" id="credit"
                                placeholder="Bank Used" value="{{selected?.currencyType}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.transactionDate">
                              <label for="picker1">Transaction Date</label>
                              <div class="input-group">
                                <input id="picker1" disabled class="form-control form-control-rounded"
                                  placeholder="yyyy-mm-dd" value="{{selected?.transactionDate}}">
                                <div class="input-group-append">
                                  <button class="btn btn-secondary" type="button">
                                    <i class="icon-regular i-Calendar-4"></i>
                                  </button>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.transactiontype">
                              <label for="credit">Transaction Count: Single or Multiple</label>
                              <input disabled class="form-control form-control-rounded" id="credit"
                                placeholder="Transaction Count" value="{{selected?.transactiontype}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.transactionAmountOne">
                              <label for="credit">Transaction Amount</label>
                              <input disabled class="form-control form-control-rounded" id="credit"
                                placeholder="Transaction Count" value="{{selected?.transactionAmountOne}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.transactionAmountTwo">
                              <label for="credit">Transaction Amount 2</label>
                              <input disabled class="form-control form-control-rounded" id="credit"
                                placeholder="Transaction Count" value="{{selected?.transactionAmountTwo}}">
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="selected?.transactionAmountThree">
                              <label for="credit">Transaction Amount 3</label>
                              <input disabled class="form-control form-control-rounded" id="credit"
                                placeholder="Transaction Count" value="{{selected?.transactionAmountThree}}">
                            </div>

                            <div class="col-md-12 form-group mb-3" *ngIf="selected?.complaintDescription">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Please describe the issue
                                    encountered:</span>
                                </div>
                                <textarea disabled value="{{selected?.complaintDescription}}" class="form-control"
                                  aria-label="With textarea">
              </textarea>
                              </div>
                            </div>
                            <div class="col-md-12 form-group mb-3" *ngIf="selected?.suggestionBox">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">What would you like us to
                                    do?</span>
                                </div>
                                <textarea disabled value="{{selected?.suggestionBox}}" class="form-control"
                                  aria-label="With textarea">
              </textarea>
                              </div>
                            </div>

                            <div class="col-md-12 form-group mb-3" *ngIf="selected?.complaintDescription">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Complaint Description</span>
                                </div>
                                <textarea disabled value="{{selected?.complaintDescription}}" class="form-control"
                                  aria-label="With textarea"></textarea>
                              </div>
                            </div>

                            <div class="col-md-12" [ngSwitch]="selected?.status?.stId">
                              <!-- For Pending Issues -->
                              <ng-container *ngSwitchCase="2">
                                <button type="button" Class="btn btn-primary btn-rounded m-1"
                                  (click)="open(modalBasic)">Assign</button>
                                <button type="button" Class="btn btn-danger btn-rounded m-1"
                                  (click)="confirm(modalConfirm)">Reject</button>
                              </ng-container>
                              <!-- For In Progress -->
                              <ng-container *ngSwitchCase="4">
                                <button type="button" Class="btn btn-outline-primary btn-rounded m-1"
                                  (click)="open(modalLong)">Mark as Resolved</button>
                              </ng-container>
                              <!-- For Reassigned -->
                              <ng-container *ngSwitchCase="7">
                                <button type="button" Class="btn btn-primary btn-rounded m-1"
                                  (click)="open(modalBasic)">Assign</button>
                                <button type="button" Class="btn btn-danger btn-rounded m-1"
                                  (click)="confirm(modalConfirm)">Reject</button>
                              </ng-container>
                            </div>
                          </div>
                        </form>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab *ngIf="(selected?.status?.stId !== 2)" title="Actions Taken">
                    <ng-template ngbTabContent>
                      <div class="">
                        <div class="mb-0">
                          <div class="">
                            <div class=""></div>
                            <div class="form-group mb-3">
                              <label>Resolver</label>
                              <input readonly type="text" class="form-control" placeholder="Your Name" aria-label="Name"
                                aria-describedby="basic-addon1">
                            </div>

                            <div class="form-group mb-3">
                              <label>Issue Description</label>
                              <textarea readonly class="form-control" aria-label="With textarea"
                                placeholder="Please Describe the issues experienced by the complainant"></textarea>
                            </div>

                            <div class="form-group mb-3">
                              <label>Root Cause</label>
                              <input type="text" readonly class="form-control" placeholder="Root cause of the problem"
                                aria-label="" aria-describedby="basic-addon2">
                            </div>

                            <div class="form-group">
                              <label>Actions Taken</label>
                              <textarea readonly class="form-control" aria-label="With textarea"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>

                <div class="ps__rail-y" style="top: 0px; right: 0px; height: 764px;">
                  <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 416px;"></div>
                </div>
              </div>
            </div>
            <!-- Intro screen -->
            <div class="app-inro-circle inbox-intro" *ngIf="!selected">
              <div class="border rounded-circle big-bubble"
                [@animate]="{value:'*',params:{scale:'.2',delay:'400ms', duration: '400ms'}}">
                <i class="i-Email"></i>
              </div>
              <p class="text-16" [@animate]="{value:'*',params:{y:'120px',delay:'600ms', duration: '400ms'}}">Inbox
                App</p>
            </div>
          </div>
        </div>
        <div appSidebar="inbox-secondary-sidebar" class="inbox-secondary-sidebar"
          [perfectScrollbar]="{suppressScrollX: true}">
          <i class="sidebar-close i-Close" appSidebarToggler="inbox-secondary-sidebar"></i>

          <div class="mail-item" *ngFor="let i of assignedIssues$" (click)="select(i)">
            <div class="avatar">
              <img src="./assets/images/faces/user.svg" alt="">
            </div>
            <div class="col-xs-6 details">
              <span class="name text-muted">{{i?.customer | titlecase}}</span>
              <span
                [ngClass]="{'badge-danger mr-1': i?.priority?.name === 'Critical','badge-info-custom2 mr-1': i?.priority?.name === 'Normal'}"
                class="badge badge-info mr-1">{{i?.priority?.name | titlecase}}</span>
              <p class="m-0">{{i?.errorType | titlecase}}</p>
              <p _ngcontent-c5="" class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges"><span
                  _ngcontent-c5="" class="badge badge-outline-info">{{i?.issue?.status?.name}}</span></p>
            </div>
            <div class="col-xs-3 date">
              <span class="text-muted">{{i?.created_On | date}}</span>
              <span class="text-danger">Issue ID: {{i?.issue?.issueId}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MAIN SIDEBAR -->
    <div appSidebar="inbox-main-sidebar" class="inbox-main-sidebar">
      <div class="pt-3 pr-3 pb-3">
        <i class="sidebar-close i-Close" appSidebarToggler="inbox-main-sidebar"></i>
        <!-- <button class="btn btn-rounded btn-primary btn-block mb-4" (click)="openComposeModal()">Compose</button> -->
        <p class="text-muted mb-2" (click)="test()">Browse</p>
        <ul class="inbox-main-nav">
          <li (click)="filterBy(2)"><a [ngClass]="{'active': Active == 2}"><i class="icon-regular i-Over-Time"></i>
              Pending ({{Count?.pending}})</a></li>
          <li (click)="filterBy(7)"><a [ngClass]="{'active': Active == 7}"><i class="icon-regular i-Right"></i>
              Re-Assigned
              ({{Count?.reassigned}})</a></li>
          <li (click)="filterBy(4)"><a [ngClass]="{'active': Active == 4}"><i class="icon-regular i-Sand-watch-2">
              </i> In Progress ({{Count?.progress}})</a></li>
          <li (click)="filterBy(3)"><a [ngClass]="{'active': Active == 3}"><i class="icon-regular i-Checked-User">
              </i>Closed ({{Count?.completed}})</a></li>
          <li (click)="filterByAssigned(8)"><a [ngClass]="{'active': Active == 8}"><i
                class="icon-regular i-Checked-User">
              </i>Assigned To You ({{Count?.myassigned}})</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<ng-template #modalBasic let-modal>
  <div class="modal-header modal-header-custom">
    <h4 class="modal-title modal-title-custom" id="modal-basic-title">Assign to Team</h4>
    <button type="button" class="close close-custom " aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="card mb-0">
        <div class="card-body">
          <form [formGroup]="Assignmentform">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Select Person</label>
              <div class="col-sm-10">
                <select formControlName="teamId" class="form-control">
                  <option *ngFor="let i of teams" [ngValue]='i'>{{i?.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Comment</label>
              <div class="col-sm-10">
                <textarea formControlName="comment" class="form-control" aria-label="With textarea">
                </textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer modal-footer-custom">
    <btn-loading btnClass="btn-{{assignButton.name}} btn-custom btn-outline-success btn-rounded m-1"
      [loading]="assignButton.loading" loadingText="Loading..." (click)="assignIssue()">
      Assign
    </btn-loading>
    <button type="button" (click)="modal.close('Save click');"
      class="btn btn-outline-success btn-custom btn-rounded">Cancel</button>
  </div>
</ng-template>

<ng-template #modalConfirm let-modal>
  <div class="modal-header modal-header-custom">
    <h4 class="modal-title" id="modal-title">Reject Issue</h4>
    <button type="button" class="close close-custom " aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to reject <span class="text-primary">{{selected?.firstName | titlecase}}
          {{selected?.lastName | titlecase}}'s</span> issue?</strong></p>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Comment</label>
      <div class="col-sm-10">
        <textarea #rejectMessage class="form-control" aria-label="With textarea">
        </textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded"
      (click)="modal.dismiss('cancel')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger btn-rounded"
      (click)="modal.close('Ok');  reject(rejectMessage?.value)">Ok</button>
  </div>
</ng-template>

<!-- Modal large -->
<ng-template #modalLong let-modal>
  <div class="modal-header modal-header-custom">
    <h4 class="modal-title modal-title-custom" id="modal-basic-title">Issue Resolution Form</h4>
    <button type="button" class="close close-custom " aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="form" (ngSubmit)="isResolved()" #f="ngForm" novalidate>
    <div class="modal-body">
      <p>Please describe the nature of the problem and the steps you took to resolve it</p>

      <div class="card mb-4">
        <div class="card-body">
          <div class="card-title"></div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">RT</span>
            </div>
            <input type="text" name="resolverName" [(ngModel)]="actionsModel.resolverName" #resolverName="ngModel"
              required class="form-control" placeholder="Your Name" aria-label="Name" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Issue Description</span>
            </div>
            <textarea name="issue" [(ngModel)]="actionsModel.issue" issue="ngModel" required class="form-control"
              aria-label="With textarea"
              placeholder="Please Describe the issues experienced by the complainant"></textarea>
          </div>

          <div class="input-group mb-3">
            <input type="text" name="cause" [(ngModel)]="actionsModel.cause" cause="ngModel" required
              class="form-control" placeholder="Root cause of the problem" aria-label=""
              aria-describedby="basic-addon2">
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Action Steps</span>
            </div>
            <textarea name="actionTaken" [(ngModel)]="actionsModel.actionTaken" #actionTaken="ngModel" required
              class="form-control" aria-label="With textarea"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer modal-footer-custom">
      <button type="submit" [disabled]="!f.form.valid"
        class="btn btn-custom btn-outline-success btn-rounded">Submit</button>
      <!-- (click)="modal.close('ok')" -->
    </div>
  </form>
</ng-template>