<div class="col-md-6 form-group mb-3">
  <label for="firstName">First name</label>
  <input formControlName="{{firstNameController}}" type="text" class="form-control" id="firstName"
    placeholder="Enter your first name">
</div>

<div class="col-md-6 form-group mb-3">
  <label for="lastName">Last name</label>
  <input formControlName="{{lastNameController}}" type="text" class="form-control" id="lastName" placeholder="Enter your last name">
</div>

<div class="col-md-6 form-group mb-3">
  <label for="exampleInputEmail1">Email address</label>
  <input formControlName="{{emailController}}" type="email" class="form-control" id="exampleInputEmail1"
    aria-describedby="emailHelp" placeholder="Enter email">
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with
    anyone else.</small>
  <small *ngIf="{{formController}}.controls.emailAddress.invalid  && {{formController}}.controls.emailAddress.dirty"
    id="errorMessage" class="form-text text-danger">Invalid email format</small>
</div>

<div class="col-md-6 form-group mb-3">
  <label for="phone">Phone</label>
  <input type="number" formControlName="{{phoneController}}" class="form-control" id="phone" placeholder="Enter phone">
</div>