<div class="app-footer">
	<div class="row">
		<div class="col-md-9">
			<p><strong>Union Bank Nigeria - Customer Complaint Management Platform</strong></p>
			<p>Our Complaint Management Platform lets us gather all your customer complaints into one common help desk system
				where we can categorize, assign and resolve all your complaints with ease, ensuring swift and effective customer
				service.</p>
		</div>
	</div>
	<div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
		<a class="btn btn-primary text-white btn-rounded mb-3 mb-sm-0" href="" target="_blank">Learn More</a>
		<span class="flex-grow-1"></span>
		<div class="d-flex align-items-center">
			<img class="logo" src="assets/images/unionlogo.png" alt="">
			<div>
				<p class="m-0">&copy; 2019 Union Bank Nigeria</p>
				<p class="m-0">All rights reserved</p>
			</div>
		</div>
	</div>
</div>