<div class="">
    <div class="breadcrumb">
        <h1>Complaints</h1>
        <ul>
            <li><a href="">Dashboard</a></li>
            <li>Select a category</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <!-- ICON BG -->
        <div [routerLink]="['/dashboard/v1/atm-dispense-error']" class=" col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Money-2"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">ATM Dispense Error</p>
                        <!-- <p class="text-primary text-24 line-height-1 mb-2">1</p> -->
                    </div>
                </div>
            </div>
        </div>

        <div [routerLink]="['/dashboard/v1/card-issue']" class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Credit-Card"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Card Issue</p>
                        <!-- <p class="text-primary text-24 line-height-1 mb-2">2</p> -->
                    </div>
                </div>
            </div>
        </div>

        <div [routerLink]="['/dashboard/v1/e-channels-error']" class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Computer-2"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">E-Channels</p>
                        <!-- <p class="text-primary text-24 line-height-1 mb-2">3</p> -->
                    </div>
                </div>
            </div>
        </div>

        <div [routerLink]="['/dashboard/v1/service-issue']" class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Share-on-Cloud"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Service</p>
                        <!-- <p class="text-primary text-24 line-height-1 mb-2">4</p> -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-8 col-md-12">
            <router-outlet></router-outlet>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card mb-4" style="background-size: cover; background-image: url(./assets/images/imgwall.jpg)">

                <div class="card-body">
                    <div class="card-title">Advertising</div>
                    <div echarts [options]="" [autoResize]="true" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>