<div class="breadcrumb">
    <ul>
        <li><a href="javascript:;">Ticket Management</a></li>
        <li>Track Issue</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <h4>Track an Issue</h4>
        <p>Enter customer issue id, email, and account number.</p>
        <form [formGroup]="internalIssuesForm" (ngSubmit)="submit(internalIssuesForm)" class="card mb-5"
            (click)="test()">
            <div class="card-body">
                <div class="row row-xs">
                    <div class="col-md-3 mt-3 mt-md-0">
                        <input formControlName="issueId" class="form-control" placeholder="Enter the issue ID">
                    </div>
                    <div class="col-md-3">
                        <input type="email" formControlName="email" class="form-control"
                            placeholder="Enter Customer Email">
                    </div>
                    <div class="col-md-3 mt-3 mt-md-0">
                        <input formControlName="accountNumber" class="form-control"
                            placeholder="Customer Account Number">
                    </div>
                    <div class="col-md-3 mt-3 mt-md-0">
                        <button type="submit" class="btn btn-primary btn-block">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="border-top mb-5"></div>


<div *ngIf="!selected" class="row"
    [ngClass]="{'list-horizontal': viewMode === 'list', 'list-grid': viewMode === 'grid'}">
    <!-- SINGLE LIST ITEM -->
    <div (click)="selectIssue(i)"
        *ngFor="let i of issues | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index"
        class="list-item" [ngClass]="{'col-md-12': viewMode === 'list', 'col-md-3': viewMode === 'grid'}"
        [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
        <div class="card o-hidden mb-4 d-flex"
            [ngClass]="{'flex-row': viewMode === 'list', 'flex-column': viewMode === 'grid'}">
            <div class="avatar">
                <!-- TUMBNAIL -->
                <img src="./assets/images/faces/user1.svg" alt="">
            </div>
            <div class="flex-grow-1" [ngClass]="{'pl-2 d-flex': viewMode === 'list', 'd-bock': viewMode === 'grid'}">
                <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center"
                    [ngClass]="{'flex-lg-row': viewMode === 'list'}">
                    <!-- OTHER DATA -->
                    <a href="javascript:;" class="w-20 w-sm-100">
                        <div class="item-title">{{i?.firstName | titlecase }} {{i?.lastName | titlecase }}</div>
                        <p class="m-0 text-muted text-small w-15 w-sm-100">{{i?.accountNumber}}</p>
                    </a>

                    <span>
                        <p class="m-0"> <i class="icon-small i-Email"></i> Email </p>
                        {{ i?.email }}
                    </span>
                    <span>
                        <p class="m-0"> Category </p>
                        <span [ngClass]="{
                        'badge-info-custom1 m-0':
                          i?.channel?.channelType == 'E-Channel',
                        'badge-info-custom2 m-0':
                          i?.channel?.channelType == 'Card Issue',
                        'badge-info-custom3 m-0':
                          i?.channel?.channelType == 'Service',
                        'badge-info-custom4 m-0':
                          i?.channel?.channelType == 'ATM Dispense Error'
                      }" class="badge badge-info m-0">{{ i?.channel?.channelType | titlecase }}</span>
                    </span>


                    <ng-container [ngSwitch]="i?.source?.description">
                        <span *ngSwitchCase="'Web'">
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Channel:</p>
                            <i style="margin-left: 5px;" title="{{ i?.source.description | titlecase }}"
                                class="icon-regular i-Internet">
                            </i>
                        </span>
                        <span *ngSwitchCase="'Mobile'">
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Channel:</p>
                            <i style="margin-left: 5px;" title="{{ i?.source.description | titlecase }}"
                                class="icon-regular i-Telephone">
                            </i>
                        </span>
                        <span *ngSwitchCase="'USSD'">
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Channel:</p>
                            <i style="margin-left: 5px;" title="{{ i?.source?.description | titlecase }}"
                                class="icon-regular i-Router-2"></i>
                        </span>
                        <span *ngSwitchCase="'Mail'">
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Channel:</p>
                            <i style="margin-left: 5px;" title="{{ i?.source?.description | titlecase }}"
                                class="icon-regular i-Email"></i>
                        </span>
                        <span *ngSwitchCase="'Walk-In'">
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Channel:</p>
                            <i style="margin-left: 5px;" title="{{ i?.source?.description | titlecase }}"
                                class="icon-regular i-Door"></i>
                        </span>
                    </ng-container>

                    <span>
                        <i class="icon-small i-ID-3 mr-2"></i> ID: {{ i?.issueId }}
                    </span>
                    <span>
                        <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges"> Status</p>
                        <span [ngClass]="{
                                'badge-info-custom1':
                                  i?.status?.name == 'Completed',
                                'badge-info-custom2':
                                  i?.status?.name == 'Resolved',
                                'badge-info-custom3':
                                  i?.status?.name == 'Rejected',
                                'badge-info-custom4':
                                  i?.status?.name == 'Closed'
                              }" class="badge badge-info">{{i?.status?.name}}</span>
                    </span>


                    <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-actions">
                        <button class="btn btn-icon bg-transparent">
                            <i class="i-Eye text-16 text-primary"></i>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-3" *ngIf="issues?.length">
        <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
    </div>
</div>

<div class="row tracking-details" *ngIf="selected">
    <div class="col-lg-12 col-md-12 tracking-details-inner">
        <div class="inbox-details inbox-details--custom " [perfectScrollbar]="{ suppressScrollX: true }">
            <div class="row no-gutters">
                <div class="mr-2" style="width: 36px">
                    <img class="rounded-circle" src="./assets/images/faces/user1.svg" alt="" />
                </div>
                <div class="col-xs-12">
                    <p class="m-0">
                        <i class="icon-small i-User"></i>
                        {{ selected?.firstName | titlecase }}
                        {{ selected?.lastName | titlecase }}
                    </p>
                    <p class="text-12 text-muted mb-0">
                        <i class="icon-small i-Calendar-4"></i>
                        {{ selected?.transactionDate | date: "dd/MM/yyyy" }}
                    </p>
                    <p class="text-10 text-muted mb-0">
                        <i class="icon-small i-Email"></i> {{ selected?.email }}
                    </p>
                    <p class="text-10 text-muted">
                        <i class="icon-small i-Telephone"></i>
                        {{ selected?.phoneno }}
                    </p>
                </div>
            </div>
            <h4 class="mb-3">{{ selected?.subject }}</h4>
            <div class="card mb-4">
                <ngb-tabset class="nav-center nav-center-custom">
                    <ngb-tab title="Customer Complaint">
                        <ng-template ngbTabContent>
                            <div class="card-body card-body-custom">
                                <div class="card-title mb-3">
                                    <span>Complaint Category:</span>
                                    {{ selected?.channelType?.channelType | titlecase }}
                                </div>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="firstName">First name</label>
                                            <input type="text" disabled class="form-control form-control-rounded"
                                                id="firstName" placeholder="Customer first name"
                                                value="{{ selected?.firstName | titlecase }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="lastName">Last name</label>
                                            <input type="text" disabled class="form-control form-control-rounded"
                                                id="lastName" placeholder="Customer last name"
                                                value="{{ selected?.lastName | titlecase }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <div class="input-group">
                                                <input type="email" disabled class="form-control form-control-rounded"
                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                    placeholder="Customer email" value="{{ selected?.email }}" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 form-group mb-3">
                                            <label for="phone">Phone</label>
                                            <input disabled class="form-control form-control-rounded" id="phone"
                                                placeholder="Customer phone" value="{{ selected?.phoneno }}" />
                                        </div>

                                        <div *ngIf="selected?.alternateno" class="col-md-6 form-group mb-3">
                                            <label for="phone">Alternate Phone number</label>
                                            <input disabled class="form-control form-control-rounded" id="phone"
                                                placeholder="Customer phone" value="{{ selected?.alternateno }}" />
                                        </div>

                                        <div *ngIf="selected?.lastFourDigits" class="col-md-6 form-group mb-3">
                                            <label for="credit">Card number: last four digits</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Card" value="{{ selected?.lastFourDigits }}" />
                                        </div>

                                        <div *ngIf="selected?.recipientAccountNo" class="col-md-6 form-group mb-3">
                                            <label for="credit">Account number</label>
                                            <input disabled class="form-control form-control-rounded" id=""
                                                placeholder="Account number"
                                                value="{{ selected?.recipientAccountNo }}" />
                                        </div>

                                        <div *ngIf="selected?.isCustomer" class="col-md-6 form-group mb-3">
                                            <label for="picker1">Are you a Union Bank customer?</label>
                                            <input disabled class="form-control form-control-rounded" id=""
                                                placeholder="Is Union Bank Customer?"
                                                value="{{ selected?.isCustomer }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.disappointedService">
                                            <label for="picker1">Which of our services dissapointed you?</label>
                                            <input disabled class="form-control form-control-rounded" id=""
                                                placeholder="Which of our services dissapointed you?"
                                                value="{{ selected?.disappointedService }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.branchIncident">
                                            <label for="picker1">Was it a Branch indident</label>
                                            <input disabled class="form-control form-control-rounded" id=""
                                                placeholder="Branch of incident"
                                                value="{{ selected?.branchIncident }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.eChannelMedium">
                                            <label for="picker1">E-Channel</label>
                                            <input disabled class="form-control form-control-rounded" id=""
                                                placeholder="-Channel" value="{{ selected?.eChannelMedium }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.cardVariant">
                                            <label for="picker1">Card Variant</label>
                                            <input disabled class="form-control form-control-rounded" id=""
                                                placeholder="-Channel" value="{{ selected?.cardVariant }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.cardComplaintType">
                                            <label for="credit">Card Complaint Type</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Card Complaint Type"
                                                value="{{ selected?.cardComplaintType }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.posMerchantName">
                                            <label for="firstName">POS Merchant name</label>
                                            <input type="text" disabled class="form-control form-control-rounded"
                                                id="firstName"
                                                placeholder="Customer merchant name e.g xyz business limited"
                                                value="{{ selected?.posMerchantName }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.merchantCode">
                                            <label for="phone">POS Merchant code</label>
                                            <input disabled class="form-control form-control-rounded" id="merchantCode"
                                                placeholder="Customer Merchant code"
                                                value="{{ selected?.merchantCode }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.websiteUsed">
                                            <label for="firstName">Website where card was used</label>
                                            <input type="text" disabled class="form-control form-control-rounded"
                                                id="firstName" placeholder="Customer Website URL e.g www.xyz.com"
                                                value="{{ selected?.websiteUsed }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.atmUsed">
                                            <label for="picker1">ATM used</label>
                                            <div class="input-group">
                                                <input id="picker1" disabled class="form-control form-control-rounded"
                                                    placeholder="ATM used" value="{{ selected?.atmUsed }}" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.bankName">
                                            <label for="credit">Bank Used</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Bank Used" value="{{ selected?.bankName }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.unionATMList">
                                            <label for="credit">Location</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Location" value="{{ selected?.unionATMList }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.serviceType">
                                            <label for="credit">Service Type</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Service Type" value="{{ selected?.serviceType }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.serviceProvider">
                                            <label for="credit">Service Provider</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Service Provider Used"
                                                value="{{ selected?.serviceProvider }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.ussdPhoneNo">
                                            <label for="phone">USSD registed phone</label>
                                            <input disabled class="form-control form-control-rounded" id="phone"
                                                placeholder="Customer registered phone number"
                                                value="{{ selected?.ussdPhoneNo }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.beneficiaryPhoneNo">
                                            <label for="phone">Airtime Beneficiary number</label>
                                            <input disabled class="form-control form-control-rounded" id="phone"
                                                placeholder="phone number" value="{{ selected?.beneficiaryPhoneNo }}" />
                                        </div>

                                        <!-- <div class="col-md-6 form-group mb-3" *ngIf="selected?.billType.name">
                                                              <label for="picker1">Airtime billers</label>
                                                              <input disabled class="form-control form-control-rounded" id="phone"
                                                                  placeholder="Airtime billers" value="{{selected?.billType.name}}">
                                                          </div> -->

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.unionMobile">
                                            <label for="phone">Union Mobile number</label>
                                            <input disabled class="form-control form-control-rounded" id="phone"
                                                placeholder="Union mobile ID" value="{{ selected?.unionMobile }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.recipientAccountNo">
                                            <label for="phone">Recipients Account number</label>
                                            <input disabled class="form-control form-control-rounded"
                                                id="smartcardnumber" placeholder="Recipients phone number"
                                                value="{{ selected?.recipientAccountNo }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.recipientName">
                                            <label for="firstName">Recipients name</label>
                                            <input type="text" disabled class="form-control form-control-rounded"
                                                id="firstName" placeholder="Customer recipients name"
                                                value="{{ selected?.recipientName }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.currencyType">
                                            <label for="credit">Currency Type</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Bank Used" value="{{ selected?.currencyType }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.transactionDate">
                                            <label for="picker1">Transaction Date</label>
                                            <div class="input-group">
                                                <input id="picker1" disabled class="form-control form-control-rounded"
                                                    placeholder="yyyy-mm-dd" value="{{
                              selected?.transactionDate
                                | date: 'dd/MM/yyyy'
                            }}" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" type="button">
                                                        <i class="icon-regular i-Calendar-4"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.transactiontype">
                                            <label for="credit">Transaction Count: Single or Multiple</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Transaction Count"
                                                value="{{ selected?.transactiontype }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.transactionAmountOne">
                                            <label for="credit">Transaction Amount</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Transaction Count"
                                                value="{{ selected?.transactionAmountOne }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.transactionAmountTwo">
                                            <label for="credit">Transaction Amount 2</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Transaction Count"
                                                value="{{ selected?.transactionAmountTwo }}" />
                                        </div>

                                        <div class="col-md-6 form-group mb-3" *ngIf="selected?.transactionAmountThree">
                                            <label for="credit">Transaction Amount 3</label>
                                            <input disabled class="form-control form-control-rounded" id="credit"
                                                placeholder="Transaction Count"
                                                value="{{ selected?.transactionAmountThree }}" />
                                        </div>

                                        <div class="col-md-12 form-group mb-3" *ngIf="selected?.complaintDescription">
                                            <label>
                                                Please describe the issue
                                                encountered
                                            </label>
                                            <textarea disabled value="{{ selected?.complaintDescription }}"
                                                class="form-control" aria-label="With textarea">
                          </textarea>
                                        </div>
                                        <div class="col-md-12 form-group mb-3" *ngIf="selected?.suggestionBox">
                                            <label>
                                                What would you like us to do?
                                            </label>
                                            <textarea disabled value="{{ selected?.suggestionBox }}"
                                                class="form-control" aria-label="With textarea">
                          </textarea>
                                        </div>

                                        <div class="col-md-12 form-group mb-3" *ngIf="selected?.complaintDescription">
                                            <label>
                                                Complaint Description
                                            </label>
                                            <textarea disabled value="{{ selected?.complaintDescription }}"
                                                class="form-control" aria-label="With textarea"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Actions Taken">
                        <ng-template ngbTabContent>
                            <div class="">
                                <p *ngIf="!ActionsTaken text-info" style="text-align: center;">No Action has been taken</p>
                                <div class="mb-0">
                                    <div class="">
                                        <div class=""></div>
                                        <div class="form-group mb-3">
                                            <label>Resolver</label>
                                            <input readonly type="text" class="form-control" placeholder="Your Name"
                                                value="{{ ActionsTaken?.rtName }}" />
                                        </div>

                                        <div class="form-group mb-3">
                                            <label>Issue Description</label>
                                            <textarea readonly class="form-control" aria-label="With textarea"
                                                placeholder="Please Describe the issues experienced by the complainant"
                                                value="{{ ActionsTaken?.issueDescription }}">
                        </textarea>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label>Root Cause</label>
                                            <input type="text" readonly class="form-control"
                                                placeholder="Root cause of the problem" aria-label=""
                                                aria-describedby="basic-addon2"
                                                value="{{ ActionsTaken?.causeOfIssue }}" />
                                        </div>

                                        <div class="form-group">
                                            <label>Actions Taken</label>
                                            <textarea readonly class="form-control" aria-label="With textarea"
                                                value="{{ ActionsTaken?.actionTaken }}">
                        </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>
        </div>
    </div>

</div>